.lb-cc-toggle-btn {
  display: inline-flex;
  align-items: center;
  column-gap: 4px;
  cursor: pointer;
}

.lb-cc-toggle-btn:not(.lb-cc-toggle-btn--active) {
  display: none;
}

.lb-cc-toggle-btn--inline {
  padding: 5px 15px;
  border: 0;
  background-color: transparent;
  margin: 0;
}

.lb-cc-toggle-btn--remove {
  opacity: 0.7;
}