:root {
  --lb-cc--primary--color: #111;
  --lb-cc--secondary--color: #4b4b4b;
  --lb-cc--compare-button--bg: #2ecc71;
  --lb-cc--contains--color: #2ecc71;
  --lb-cc--not-contains--color: #ff2453;
  --lb-cc--compare-button--color: #fff;
  --lb-cc--remove-button--color: #fff;
  --lb-cc--remove-button--bg: #ff2453;
  --lb-cc--close-button--bg: var(--lb-cc--primary--color);
  --lb-cc--bar-button--bg: #ffd32a;
  --lb-cc--bar-button--color: var(--lb-cc--primary--color);
  --lb-cc--column--count: 4;
  --lb-cc--column--size: 220px;
}

.lb-cc-bar-container {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 100;
}

.lb-cc-bar {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 100;

  background-color: #fff;
  padding: 30px;
  width: 600px;
  max-width: 100%;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 38%);
  border-radius: 5px;
}

.lb-cc-bar-show {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border: 0;
  border-radius: 50%;
  font-size: 1rem;
  background-color: var(--lb-cc--bar-button--bg);
  color: var(--lb-cc--bar-button--color);
  box-shadow: 1px 1px 5px 0px #9b9b9b99;
  transition: background-color 300ms ease-in-out;
}

.lb-cc-bar-show:hover {
  background-color: color-mix(in srgb, var(--lb-cc--bar-button--bg), #000 8%);
}

.lb-cc-bar__close {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 7px;
  position: absolute;
  top: 8px;
  right: 8px;
  color: var(--lb-cc--close-button--bg);
  color: var(--lb-cc--close-button--bg);
  transition: color 300ms ease-in-out;
}

.lb-cc-bar__close:hover {
  color: color-mix(in srgb, var(--lb-cc--close-button--bg), #fff 40%);
}

.lb-cc-bar__list {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

.lb-cc-bar__list:empty {
  display: none;
}

.lb-cc-bar__title {
  font-size: 1.375em;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 0.36em;
}

.lb-cc-bar__subtitle {
  font-size: 1em;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1.75em;
}

.lb-cc-bar__loading {
  display: flex;
  justify-content: center;
}

.lb-cc-bar__list:not(:empty) + .lb-cc-bar__loading {
  display: none;
}

.lb-cc-bar__actions {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.lb-cc-button {
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 10px 24px;
  border: 0;
  background-color: var(--lb-cc--compare-button--bg);
  background-color: var(--lb-cc--compare-button--bg);
  border-radius: 20px;
  color: var(--lb-cc--compare-button--color);
  transition: background-color 300ms ease-in-out;
}

.lb-cc-button:hover {
  background-color: color-mix(
    in srgb,
    var(--lb-cc--compare-button--bg),
    #000 30%
  );
}

/*-------------*/

.lb-cc-preview-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 120px;
  max-width: 100%;
}

.lb-cc-button-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  color: rgb(255 255 255 / 85%);
  font-size: 11px;
  background-color: var(--lb-cc--remove-button--bg);
  background-color: var(--lb-cc--remove-button--bg);
  transition: background-color 300ms ease-in-out;
}

.lb-cc-button-remove:hover {
  background-color: color-mix(
    in srgb,
    var(--lb-cc--remove-button--bg),
    #000 30%
  );
}

.lb-cc-preview-item__remove {
  position: absolute;
  top: -7px;
  right: 8px;
}

.lb-cc-preview-item__thumb {
  width: 85px;
  height: 85px;
  object-fit: contain;
  border-radius: 10px;
}

.lb-cc-preview-item__title {
  text-align: center;
  font-size: 0.875em;
  margin-top: 8px;
}

#awn-popup-wrapper .awn-popup-lb-cc-modal {
  padding: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  background: transparent;
}

.lb-cc-modal-scroll {
  overflow: auto;
  overscroll-behavior-block: contain;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.lb-cc-modal {
  padding: 32px 24px 18px;
  color: var(--lb-cc--primary--color);
  background: #fff;
  border-radius: 10px;
  max-width: calc(100% - 40px);
  height: max-content;
}

.lb-cc-modal__title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.2em;
  line-height: 1.2em;
}

.lb-cc-modal__close {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  border: 0;
  padding: 10px;
  font-size: 1rem;
  color: var(--lb-cc--close-button--bg);
  transition: color 300ms ease-in-out;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lb-cc-modal__close:hover {
  color: color-mix(in srgb, var(--lb-cc--close-button--bg), #fff 40%);
}

.lb-cc-table:not(:empty) + .lb-cc-modal__loading {
  display: none;
}

.lb-cc-modal__loading {
  display: flex;
  justify-content: center;
}

.lb-cc-table {
  display: grid;
  grid-template-columns: repeat(
    var(--lb-cc--column--count),
    var(--lb-cc--column--size)
  );
  column-gap: 20px;
}

.lb-cc-item {
  display: contents;
}

.lb-cc-item__header {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  grid-column: var(--lb-cc--item--ind) / span 1;
  grid-row: 1 / 2;
}

.lb-cc-item__remove {
  position: absolute;
  top: -7px;
  left: calc(50% + 38px);
}

.lb-cc-item__thumb {
  margin-bottom: 12px;
  border-radius: 10px;
}

.lb-cc-item__title {
  text-align: center;
  font-size: 1.25em;
  line-height: 1.25rem;
  text-align: center;
  font-weight: 800;
  margin-bottom: 1em;
}

.lb-cc-item__review {
  width: 100%;
  display: block;
}

.lb-cc-block {
  display: contents;
}

.lb-cc-block__title {
  position: sticky;
  top: -40px;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.2em;
  font-weight: 600;
  padding: 10px 12px;
  background-color: #d9d9d9;
  border-radius: 10px 10px 0 0;
  border: 1px solid #d9d9d9;
}

.lb-cc-block-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  padding: 10px 12px;
  border-right: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
}

.lb-cc-block-item:last-child {
  border-bottom: 1px solid #d9d9d9;
  border-radius: 0 0 10px 10px;
  margin-bottom: 20px;
}

.lb-cc-block-item:nth-child(odd) {
  background-color: #f5f5f5;
}

.lb-cc-block-item__title {
  font-size: 0.875rem;
  line-height: 1.2;
  display: block;
  text-align: center;
  margin-bottom: 0.42;
  color: var(--lb-cc--secondary--color);
}

.lb-cc-block-item__value {
  display: block;
  text-align: center;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 800;
  color: var(--lb-cc--secondary--color);
}

.lb-cc-block-item__value .fa-check-circle {
  color: var(--lb-cc--contains--color);
}

.lb-cc-block-item__value .fa-times-circle {
  color: var(--lb-cc--not-contains--color);
}

.lb-cc-block__row {
  grid-column: var(--lb-cc--item--ind) / span 1;
  grid-row: calc(var(--lb-cc--block--ind) * var(--lb-cc--block--item--ind) + 1) /
    span 1;
}
